---
---
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
      Eric Brown
    </title>
    {% include BootstrapSources.html %}
  </head>

  <body>
    {% include NavBar.html %}
    <div class="container">
      <div class="hero-unit">
        <div>
          <h1>
            Hello, World!
          </h1>
        </div>
      </div>
      <div>
        <p>
          <span style="font-size: 13px;">
            Welcome to Eric Brown's web page! Check out the links at the top of the page to find interesting information about me!
          </span>
        </p>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="js/bootstrap.js">
    </script>
  </body>
</html>
