<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">
          Eric Brown
        </a>
        <ul class="nav">
          <li>
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <a href="/projects/">
              Projects
            </a>
          </li>
          <li class="">
            <a href="/blog/">
              Blog
            </a>
          </li>
          <li>
            <a href="/experiments/">
              Experiments
            </a>
          </li>
          <li>
            <a href="/about/">
              About
            </a>
          </li>
          <li>
            <a href="/contact/">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
