---
---
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
      About Eric Brown
    </title>
    {% include BootstrapSources.html %}
  </head>
  
  <body>
    {% include NavBar.html %}
    <div class="container">
      <div class="well">
        <div>
          <h1>
            About Me!
          </h1>
        </div>
      </div>
      <div>
        <p>
          Hello everyone! My name is Eric Brown, and I'm a Software Engineer at Aereo Inc. I love Computer Science,
          but that's only a cursory glance at everything I enjoy. If you'd like to know more, read on!
        </p>
        <p>
          Professionally speaking, I would describe myself as a highly passionate software developer who wants nothing more for the future than to work with
          other passionate engineers and designers who live and breathe code as I do. I constantly seek new ways to challenge myself, and keep a long
          backlog of skills to learn and projects to complete, far beyond the requirements of my classes. I have experience developing for embedded
          systems, primarily in C on Atmel microcontrollers, and for desktop applications in a wide variety of languages including C, C++, Java, Python,
          and more. I consider myself obsessed with code beauty and optimization, though I am aware that progress is ultimately most important.
        </p>
        <p>
          Personally, I'm a budding audiophile, technology lover, and amatuer sailor. I enjoy passionate debate, on any issue, and love the idea of cities,
          especially since I live in a rather small one. If you'd like to <a href="/contact/">contact me</a>, read my <a href="/blog/home/">blog</a>, get
          information on my various <a href="/projects/home/">projects</a>, or check out my <a href="docs/Resume.pdf">resume</a> check out the links at the top of the page.  
        </p>
      </div>
    </div>
  </body>
</html>
