<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>
      Eric Brown's Information
    </title>
    {% include 'BootstrapSources.html' %}
  </head>
  
  <body>
    {% include 'NavBar.html' %}
    <div class="container">
      <div class="well">
        <div>
          <h3>{{ post.title }}</h3>
        </div>
        <div>
          <p style="font-size: 9px; font-color: #C0C0C0">Posted By: <a href="/author/{{ post.authorID }}/">{{ post.author }}</a> Date Posted: {{ post.date }}</p>
        </div>
      </div>
      <div class="well">
        <div class="content font-size: 13px;">
          {{ post.content|safe }}
        </div>
      </div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'ericbrownssite'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
  </body>
</html>